body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto";
}

/*** HEADER ***/
header {
  background-image: linear-gradient(
      rgba(53, 52, 52, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/hydrangea.jpg");
  background-color: rgb(109, 108, 108);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
}

.name-highlight {
  font-weight: 500;
}

.header-links-container {
  display: inline-flex;
  position: absolute;
  transform: translate(90%,50%)
}

.header-icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.icon-linkedin,
.icon-github,
.icon-stackoverflow {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
  border: #ffffff solid 3px;
  border-radius: 50%;
}

header .icon-linkedin,
header .icon-stackoverflow,
header .icon-github {
  width: 100%;
  height: 100%;
}

.icon-linkedin {
  background-image: url("../assets/linkedin.svg");
}

.icon-stackoverflow {
  background-image: url("../assets/stackoverflow.svg");
}

.icon-github {
  background-image: url("../assets/github.svg");
}

.header-name-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;
  padding-left:50px;
  
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #fff;
}

.name-highlight {
  font-family: "Montserrat";
  font-weight: 550;
}

  h2  {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  color: #ffffff;
  font-size: 40px;
  margin: 5px 0;
}

h5 { 
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin: 0;
  color: #fff;
}

.header-name-description p {
  color: #ffffff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.profile-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12%, 60%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: solid 2px #fff;
}

/*** ABOUT ME ***/

.about-me {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
}

.summary {
  width: 100%;
  margin: 30px;
  padding: 10px;
}

.icon-p { 
  padding: 5px;
}

p {
  text-align: left;
  font-family: "Montserrat" sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

/*** TECH ***/

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f6f4fc;
}

.tech p { 
  text-align: center;
}

.tech-description {
  width: 70%;
  padding: 15px;
}

.highlight {
  color: #ee1450;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  background-color: #ee1450;
  border-radius: 8px;
  color: #ffffff;
}



.featured-projects, .other-projects, .blog { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 10px;
  margin: 0 auto;
}

/*** FEATURED PROJECTS ***/

.featured-projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Roboto' sans-serif;
  margin: 15px;
  padding: 10px;
}

.card-image { 
  width: 100%;
}

.project-description p {
  display: inline-block
}

article a {
  text-decoration: none;
}

article a:hover {
  color: #ee1450;
}

article a:link,
a:visited {
  color: black;
}

/* .background-mask {
  background-color: #353535d2;
  height: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-mask:hover {
  opacity: 0;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  cursor: pointer;
} */

h4 {
  font-family: "Montserrat" sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  color:#f1e6ff;
}

.project-tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 9px;
}

.project-tech div {
  margin: 3px;
  padding: 2px 2px;
  text-align: center;
  border-radius: 5px;
  background-color: #f6f4fc;
  align-self: center;
}

/*** OTHER PROJECTS ***/

.other-projects-container {
display: flex;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
}

.other-projects h4{
  background-color: #fff;
  color: #ee1450;
  padding-top: 50px;
}


.other-projects-details { 
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
}

.other-projects-details p {
  text-decoration: none;
}


/*** BLOG ***/

.blog {
background-color: #f6f4fc;
}

.blog-container {
  display: flex;
  width: 100%;
}

.blog-post img { 
  width: 75%;
  height: 50%;
  margin: 20px;
  padding: 25px;
}


